<!DOCTYPE html>
<html lang="en">

<head>
    <title> WTW | Leaderboard </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <div class="user-interface">
        <%- include('../templates/nav-bar.ejs') %>
            <div class="container">
                <%- include('../templates/header.ejs') %>
                    <div class="leaderboard">
                        <div class="leaderboard-header"> <i class="fa-solid fa-trophy"></i> High Rating</div>
                        <% for(var i = 0; i < session.bookInfo.length; i++){ %>
                            <a class="leaderboard-list" href="/book/<%=session.bookInfo[i].book_id%>">
                                <div class="list-top">
                                    <%= i + 1 %>
                                </div>
                                <div class="list-img">
                                    <img src="<%= session.bookInfo[i].cover %>">
                                </div>
                                <div class="list-info">
                                    <div class="list-info-title">
                                        <%= session.bookInfo[i].book_title %>
                                    </div>
                                    <div class="list-info-author">
                                        <%= session.bookInfo[i].author %>
                                    </div>
                                </div>
                                <div class="list-rate">
                                    <p>
                                        <%= session.bookInfo[i].point %>
                                    </p>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </a>
                            <% } %>
                    </div>
            </div>
    </div>

</body>
<%- include('../templates/change-theme.ejs') %>

</html>