<!DOCTYPE html>
<html lang="en">

<head>
    <title> WTW | Library Management Web</title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <%- include('../templates/success.ejs') %>
        <div class="user-interface">
            <%- include('../templates/nav-bar.ejs') %>
                <div class="container">
                    <%- include('../templates/header-search.ejs') %>
                        <%- include('../templates/book-show.ejs') %>
                            <%- include('../templates/service.ejs') %>
                </div>
        </div>
        <%- include('../templates/overlay.ejs') %>

</body>
<%- include('../templates/change-theme.ejs') %>

</html>