<!DOCTYPE html>
<html lang="en">

<head>
    <title> WTW | My Collection </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <div class="user-interface">
        <%- include('../templates/nav-bar.ejs') %>
            <div class="container">
                <%- include('../templates/slideshow.ejs') %>
                    <%- include('../templates/header-search.ejs') %>
                        <button class="check-btn" onclick="SlideShow()"> Check books's expiry date</button>
                        <%- include('../templates/book-show.ejs') %>
                            <%- include('../templates/service.ejs') %>
            </div>
    </div>
    <%- include('../templates/overlay.ejs') %>
</body>
<%- include('../templates/change-theme.ejs') %>

</html>