<!DOCTYPE html>
<html lang="en">

<head>
    <title> Libib | Library Management Web </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <%- include('../templates/success.ejs') %>
        <div class="user-interface">
            <%- include('../templates/nav-bar.ejs') %>
                <div class="container">
                    <%- include('../templates/header.ejs') %>
                        <ul class="accordion">
                            <li class="accordion-item">
                                <div class="accordion-item-header">
                                    Change Email
                                </div>
                                <div class="accordion-item-body">
                                    <form method="POST" action="/change-email" class="setting-form">
                                        <div class="change-email">
                                            <input type="email" name="email" id="email" required>
                                        </div>
                                        <input type="submit" value="Change email">
                                    </form>
                                    <% if(session.error_email){ %>
                                        <p>
                                            <%= session.error_email %>
                                        </p>
                                        <% } %>
                                </div>
                            </li>
                        </ul>
                        <div class = "due">
                            <% for(var i = 0; i < session.dueBook.length; i++){ %>
                                <div class="list-img">
                                    <img src="<%= session.dueBook[i].cover %>">
                                </div>
                                <div class="list-info">
                                <div class="list-info-title">
                                    <%= session.dueBook[i].book_title %>
                                </div>
                                <div class="list-info-author">
                                    <%= session.dueBook[i].author %>
                                </div>
                                    <%}%>
                        </div>
                                <div class = "overdue">
                                    <% for(var i = 0; i < session.overdueBook.length; i++){ %>
                                        <div class="list-img">
                                            <img src="<%= session.overdueBook[i].cover %>">
                                        </div>
                                    <div class="list-info">
                                        <div class="list-info-title">
                                            <%= session.overdueBook[i].book_title %>
                                        </div>
                                        <div class="list-info-author">
                                            <%= session.overdueBook[i].author %>
                                        </div>
                                        <%}%>
                                    </div>
                </div>
        </div>

</body>
<%- include('../templates/change-theme.ejs') %>

</html>