<!DOCTYPE html>
<html lang="en">

<head>
    <title> Libib | Requests </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <div class="user-interface">
        <% const page="support" %>
            <%- include('../templates/nav-bar.ejs') %>
                <div class="container">
                    <%- include('../templates/header.ejs') %>
                    <%for(var item = 0; item < Requests.length; item++){%>
                        <%var itemArray = JSON.parse(Requests[item].request_desc); %>
                        <form class="requests" action="/requests/update/:<%=Requests[item].request_id%>">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        Request from ID: <%=Requests[item].user_id%> : <%=itemArray.length%> books
                                        <i class="fa-solid fa-exclamation"></i>
                                    </div>

                                    <div class="accordion-item-body">
                                        <%for(var books = 0; books < itemArray.length; books++){%>
                                        <div class="acc-book">
                                            <div class="acc-book-num">
                                                <% var id = books + 1%>
                                                <%= id%>
                                            </div>
                                            <div class="acc-book-img">
                                                <img src="<%=itemArray[books].cover%>">
                                            </div>
                                            <div class="acc-book-item-info">
                                                <div class="acc-book-item-title"> <%=itemArray[books].book_title%> </div>
                                                <div class="acc-book-item-author"> <%=itemArray[books].author%> </div>
                                            </div>
                                            <div class="wrapper">
                                                <input type="radio" name="<%= itemArray[books].book_id%>" id="option-1">
                                                <input type="radio" name="<%= itemArray[books].book_id%>" id="option-2">
                                                <label for="option-1" class="option option-1">
                                                    <div class="dot dot-accept"></div>
                                                    <span>Accept</span>
                                                </label>
                                                <label for="option-2" class="option option-2">
                                                    <div class="dot dot-decline"></div>
                                                    <span>Decline</span>
                                                </label>
                                            </div>
                                        </div>
                                        <%}%>

                                    </div>
                                </div>


                            </div>
                            <input type="submit" value="Update">
                        </form>
                    <%}%>
                </div>
    </div>

</body>
<%- include('../templates/change-theme.ejs') %>

</html>