<!DOCTYPE html>
<html lang="en">

<head>
    <title> Libib | Library Management Web </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <div class="user-interface">
        <%- include('../templates/nav-bar.ejs') %>
            <div class="container">
                <%- include('../templates/header.ejs') %>
                    <div class="add-book-site">
                        <form id="form" action="/edit-book/<%=BookInfo[0].book_id%>" method="POST" enctype="multipart/form-data">
                            <div class="input-group">
                                <div class="input-title"><label for="book-img">Image</label> </div>
                                <div class="input-space"> <input type="file" name="book-img" id="book-img" value="<%=BookInfo[0].cover%>"> </div>
                            </div>
                            <div class="input-group">
                                <div class="input-title"> <label for="book_title"> Title </label> </div>
                                <input type="text" name="book_title" id="book_title" value="<%=BookInfo[0].book_title%>">
                            </div>
                            <div class="input-group">
                                <div class="input-title"> <label for="author"> Author </label> </div>
                                <input type="text" name="author" id="author" value="<%=BookInfo[0].author%>">
                            </div>
                            <div class="input-group">
                                <div class="input-title"> <label for="publisher"> Publisher </label> </div>
                                <input type="text" name="publisher" id="publisher" value="<%=BookInfo[0].publisher%>">
                            </div>
                            <div class="input-group">
                                <div class="input-title"><label for="book_desc"> Description </label> </div>
                                <textarea name="book_desc" id="book_desc"><%=BookInfo[0].book_desc%></textarea>
                            </div>
                            <div class="input-group">
                                <input type="submit" value="Submit" id="submit">
                            </div>
                        </form>
                        <a href="/book/<%=session.Bookdata[0].book_id%>"> <button>Cancel</button></a>
                    </div>

            </div>
</body>

</html>