<!DOCTYPE html>
<html lang="en">

<head>
    <title> Libib | Register </title>
    <%- include('../templates/login-stylesheet.ejs'); %>
</head>

<body>
    <div class="interface">
        <div class="side-background-image">
            <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2020/10/5/842222/F4bfd9e1649e82dcfdbe.jpg" alt="background-image" />
        </div>
        <div class="container">
            <div class="form-login">
                <div style="text-align: center">
                    <h2>Sign up</h2>
                </div>
                <form id="form" action="/signup" method="POST">
                    <div class="input-login">
                        <label for="account"> Account </label>
                        <% if(error_account){ %>
                            <i class="fas fa-exclamation-circle"></i>
                            <% }  %>
                                <div class="input-group">
                                    <input type="text" name="account" id="account" value="<%= account %>" />
                                </div>
                                <% if(error_account){ %>
                                    <div class="error">
                                        <small> <%= error_account %> </small>
                                    </div>
                                    <% } else { %>
                                        <small> Error message </small>
                                        <% } %>
                    </div>
                    <div class="input-login">
                        <label for="account"> Email </label>
                        <% if(error_email){ %>
                            <i class="fas fa-exclamation-circle"></i>
                            <% }  %>
                                <div class="input-group">
                                    <input type="text" name="email" id="email" value="<%= email %>" />
                                </div>
                                <% if(error_email){ %>
                                    <div class="error">
                                        <small> <%= error_email %> </small>
                                    </div>
                                    <% } else { %>
                                        <small> Error message </small>
                                        <% } %>
                    </div>
                    <div class="input-login">
                        <label for="password"> Password </label>
                        <% if(error_password){ %>
                            <i class="fas fa-exclamation-circle"></i>
                            <% }  %>
                                <div class="input-group">
                                    <input type="password" name="password" id="password" value="<%= password %>" />
                                    <div class="eye">
                                        <i id="close_password" onclick="PasswordVisualize('password')" class="fa-regular fa-eye-slash"></i>
                                    </div>
                                </div>
                                <% if(error_password){ %>
                                    <div class="error">
                                        <small> <%= error_password %> </small>
                                    </div>
                                    <% } else { %>
                                        <small> Error message </small>
                                        <% } %>
                    </div>
                    <div class="input-login">
                        <label for="rpassword">Confirm Password </label>
                        <% if(error_rpassword){ %>
                            <i class="fas fa-exclamation-circle"></i>
                            <% }  %>
                                <div class="input-group">
                                    <input type="password" name="rpassword" id="rpassword" value="<%= rpassword %>" />
                                    <div class="eye">
                                        <i id="close_rpassword" onclick="PasswordVisualize('rpassword')" class="fa-regular fa-eye-slash"></i>
                                    </div>
                                </div>
                                <% if(error_rpassword){ %>
                                    <div class="error">
                                        <small> <%= error_rpassword %> </small>
                                    </div>
                                    <% } else { %>
                                        <small> Error message </small>
                                        <% } %>
                    </div>
                    <div class="submit-btn">
                        <input type="submit" value="Finish" />
                    </div>
                    <div class="signup-login">
                        <span><a href="/login">Already have an account ?</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>