
<div class="service">
    <div class="basket-logo">
        <i class="fa-solid fa-basket-shopping"></i>
        <div class="num-books"> <%=session.cart.length%>  </div>
    </div>
    <div class="basket-content">
        <div class="basket-header">
            <p> There are <%= session.cart.length %> books in the basket </p>
        </div>
        <div class="book-item-list">
            <%for(var _id = 0; _id < session.cart.length; _id++){%>
                <div class="book-item">
                    <div class="book-num">
                        <%= _id + 1 %>
                    </div>
                    <div class="book-img">
                        <img src = "<%=session.cart[_id].cover%>">
                    </div>
                    <div class="book-item-info">
                        <div class="book-item-title"> <%= session.cart[_id].book_title %>  </div>
                        <div class="book-item-author"> <%= session.cart[_id].author %>  </div>
                    </div>
                    <div class="book-return" >
                        <button onclick="RemoveFromCart(<%= _id %>)"> Remove </button>
                    </div>
                </div>
            <%}%>
        </div>
        <form class="book-send" action="/cart/submit" method="post">
            <input type="submit" value="Send request">
        </form>
    </div>
    <div class="scroll-top">
        <i onclick="window.scrollTo(0,0)" class="fa-solid fa-chevron-up"></i>
    </div>
</div>
